@section Headers {
    Content-Type: text/html; charset=utf-8
}
<!--Body-->
<table class="table-row" width="450" bgcolor="#FFFFFF" style="table-layout: fixed; background-color: #ffffff;" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td class="table-row-td" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 36px; padding-right: 36px;" valign="top" align="left">
                <table class="table-col" align="left" width="378" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                    <tbody>
                        <tr>
                            <td class="table-col-td" width="378" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; width: 378px;" valign="top" align="left">
                                <table class="header-row" width="378" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;"><tbody><tr><td class="header-row-td" width="378" style="font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #478fca; margin: 0px; font-size: 18px; padding-bottom: 10px; padding-top: 15px;" valign="top" align="left">Prøvetur med Natteravnene!</td></tr></tbody></table>
                                <div style="font-family: Arial, sans-serif; line-height: 20px; color: #444444; font-size: 13px;">
                                    Tak for foreningens kvittering for modtagelse af en mulig prøvetur!
                                    <br /><br />
                                    Vi forsøger at blive bedre til at hverve frivillige via vores hjemmesider og Social Medier som Facebook, instagram m.m. Til dette har vi brug for at få af vide hvad der sker med de personer der har bedt om en prøvetur men Natteravnene.
                                    <br /><br />
                                    Hjælp os med at holde status opdateret på forløbet med <strong>@Model.lead.FullName</strong> inde på <a href="@Url.Action("Index", "Emne", new { id = Model.lead.LeadID }, "http")">frivillig.natteravnene.dk/emne</a>, dette kan gøres af personer som har rettigheder som turplanlægger eller sekretær.
                                    <br><br>
                                    Venlig hilsen
                                    <br>
                                    <b style="color: #777777;">Natteravnenes Landssekretariat</b>
                                    <br>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!--Body-->