@section Headers {
    Content-Type: text/html; charset=utf-8
}
<!--Body-->
<table class="table-row" width="450" bgcolor="#FFFFFF" style="table-layout: fixed; background-color: #ffffff;" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td class="table-row-td" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 36px; padding-right: 36px;" valign="top" align="left">
                <table class="table-col" align="left" width="378" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                    <tbody>
                        <tr>
                            <td class="table-col-td" width="378" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; width: 378px;" valign="top" align="left">
                                <table class="header-row" width="378" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;"><tbody><tr><td class="header-row-td" width="378" style="font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #478fca; margin: 0px; font-size: 18px; padding-bottom: 10px; padding-top: 15px;" valign="top" align="left">Kære Natteravn!</td></tr></tbody></table>
                                <div style="font-family: Arial, sans-serif; line-height: 20px; color: #444444; font-size: 13px;">
                                    Vi har modtaget dit Natteravne Nyt retur, du skal derfor tjekke din adresse før vi igen sender dig Natteravnen Nyt. 
                                    <br><br>
                                    Brug nedestående link for at rediger din adresse så posten kan lever dette
                                    <br><br>
                                    <div style="color: #777777; text-align:center;"><b style="color: #777777; text-align:center;"><a href="@Url.Action("EditProfile", "People", null, "http")">frivillig.natteravnene.dk</a></b></div>
                                    <br>
                                    Brug følgende koder for at komme ind:
                                    <br>
                                    <br>
                                    Brugernavn: <b style="color: #777777;">@Model.UserName</b><br />
                                    Kodeord: <b style="color: #777777;">@Model.Password</b>
                                    <br><br>
                                    <b style="color: #777777;">HUSK:</b> Du kan til enhver tid få brugernavn og kodeord tilsendt på SMS og e-mail ved at taste din e-mailadresse eller mobilnummer ind på forsiden - klik .
                                    <br><br>
                                    Alternativt kontakt din formand for at få opdateret din adresse. 
                                    <br><br>
                                    Venlig hilsen
                                    <br>
                                    <b style="color: #777777;">Natteravnenes Landssekretariat</b>
                                    <br>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!--Body-->