@{
    ViewBag.Title = "Layout";
}
<link rel="stylesheet" href="@Url.Content("~/Content/css/TmpStyle.css")" />
<h2>Layout</h2>

<table>
    <tr>
        <td>
            <div>
                <div class="teamtime">
                    <div class="week">46</div>
                    <div class="timedate">
                        <span class="">
                            <i class="glyphicon glyphicon-calendar"></i> fr 14-11-2014
                        </span>
                        <br>
                        <span class="">
                            <i class="glyphicon glyphicon-time"></i> 23:00 - 02:15
                        </span>
                    </div>
                </div>
            </div>
        </td>
        <td>
            sdfasdfasdf
        </td>
    </tr>
</table>

