@model Person


<div>@Model.FullName</div>
<div>@Model.FullAddress</div>
    <input type="hidden" id="Idnm" value="@Model.PersonID" />
<btn value="opdate" id="nmupdate" class="btn btn-info" >Bloker</btn> 
