@model TrialFormModel

<h1>Ups!</h1>

<p>Der er sket en fejl med systemet. Det er derfor ikke sikkert dine data er gemt. Kan vi lokke dig til at prøve igen?</p>
<p>Har du prøvet igen eller har du ikke tålmodighed så kontakt os på 70 12 12 99</p>
