@model TrialFormModel

<h1>Tak!</h1>

<p>Vi har modtaget dit input. Du vil modtage en e-mail på @Model.Email, som bekræfter modtagelse af data.</p>
<p>Vi kontakte dig hurtigst muligt med henblik på at aftale en prøvetur med Natteravnene.</p>
