<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>


    <add name="Repository" connectionString="Data Source=.\;Initial Catalog=Natteravnene;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>
  <appSettings>
    <add key="RouteDebugger:Enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="Ravnetur" value="Data Source=.\;Initial Catalog=Ravnetur;Integrated Security=True" xdt:Transform="Insert"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" xdt:Transform="Replace"/>
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
  </system.web>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="Network">
        <network host="relay.zensystems.dk " port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
    

  </system.net>
</configuration>