<div class="page-header position-relative">
    <h1>
        Logo
    </h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2>Natteravne logo</h2>
    </div>
    <div class="col-sm-6">
        <h2>Lokalt Natteravne logo</h2>
    </div>
</div>
